body{
    margin: 0;
    padding 0;
    background: white;
}

img{
    height: 400px;
    width:  320px;

}
#section{
    display: grid
 
}

.tour-info{
    max-width: 300px;
}

.single-tour{
    background: whitesmoke;
    border-radius: 5%;
    max-width: fit-content;
    
    position: flex;
}
.tour{
    display: grid;
    gap: 2rem;
}
