#transationDiv ul li a {
    text-decoration: none;
    color: #333334;
    cursor: pointer;


}

#transationDiv ul li {
    padding: 5px;
    list-style-type: none;
    margin-left: 40.5%;
}

#transationDiv h2 {
    margin-left: 42%;
}
button{
    margin-left: 45%;
}