.container{width: 100%;
    height: 100vh;
    display: flex;
    background: lightgrey;
    align-items: center;
    justify-content: center;}
    
    .calculator{padding: 20px;
    border-radius: 10px;
    background-color:white;}
    
    .calculator form input{
        
        width: 60px;
        height: 60px;
        background: transparent;
        font-size: 20px;
        color:black;
        cursor: pointer;
        margin: 10px;
    }
    
    form .displays{
        display: flex;
        justify-content: flex-end;
        margin: 20px 0;
    }
    form .displays input{
        text-align: right;
        flex: 1;
        font-size: 45px;
    }
    
   .wid{width: 145px;}