body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #E3E7E8;
  font-family: system-ui;
}

header {
  background-color: #333;
  color: #fff;
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 50px;
  margin-top: 50px;
}


h1 {
  margin: 0;
}

.product-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  gap: 10px;
  width: 20px;

}

img {
  width: 100%;
  margin: auto;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 16px;
  margin: 16px;
  max-width: 200px;
  cursor: pointer;
  text-align: center;

}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
}

.popup img {
  width: 120px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 120px;
  cursor: pointer;
  color: red;
}

.pagination {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

#pagination a {
  display: column;
  margin-bottom: 5px;
  text-decoration: none;
  color: #333;
  padding: 3px 6px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#pagination a:hover {
  background-color: #f9f9f9;
}

#pagination a.active {
  background-color: #4CAF50;
  color: white;
}

#productsPerPage {
  margin-top: 10px;
}

/* njcnencehbuqebvbeufbv */

.container {
  width: 1000px;
  margin: auto;
  transition: 0.5s;
}

header .shopping {
  position: relative;
  text-align: right;
}

header .shopping img {
  width: 40px;
}

header .shopping span {
  background: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  top: -5px;
  left: 80%;
  padding: 3px 10px;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  margin-top: 50px;
}

.list .item {
  text-align: center;
  background-color: #DCE0E1;
  padding: 20px;
  box-shadow: 0 50px 50px #757676;
  letter-spacing: 1px;
}

.list .item img {
  width: 90%;
  height: 430px;
  object-fit: cover;
}

.list .item .title {
  font-weight: 600;
}

.list .item .price {
  margin: 10px;
}

.list .item button {
  background-color: #1C1F25;
  color: #fff;
  width: 100%;
  padding: 10px;
}

.card {
  position: fixed;
  top: 0;
  left: 100%;
  width: 500px;
  background-color: #453E3B;
  height: 100vh;
  transition: 0.5s;
}

.active .card {
  left: calc(100% - 500px);
}

.active .container {
  transform: translateX(-200px);
}

.card h1 {
  color: #E8BC0E;
  font-weight: 100;
  margin: 0;
  padding: 0 20px;
  height: 80px;
  display: flex;
  align-items: center;
}

.card .checkOut {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}

.card .checkOut div {
  background-color: #E8BC0E;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}

.card .checkOut div:nth-child(2) {
  background-color: #1C1F25;
  color: #fff;
}

.listCard li {
  display: grid;
  grid-template-columns: 100px repeat(3, 1fr);
  color: #fff;
  row-gap: 10px;
}

.listCard li div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listCard li img {
  width: 90%;
}

.listCard li button {
  background-color: #fff5;
  border: none;
}

.listCard .count {
  margin: 0 10px;
}